/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,input[type='radio']  {
	cursor: pointer;
}


:root {
	/* colors */
	/* background-or-something */
	--dark: #2e3440;
	--darkMain-Sb: #3b4252;
	--dark2: #434c5e;
	--dar2Main-Sb: #4c566a;

	/* text */
	--text: #d8dee9;
	--text2: #e5e9f0;
	--text3: #eceff4;

	/* frost */
	--frost: #8fbcbb;
	--frost-2: #88c0d0;
	--frost-3: #5e81ac;
	--frost-4: #81a1c1;

	/* highlights */
	--highlight-red: #bf616a;
	--highlight-orange: #d08770;
	--highlight-yellow: #ebcb8b;
	--highlight-green: #a3be8c;
	--highlight-pink: #b48ead;

	/* icons */
	--icon-width: 30px;
	--icon-height: 30px;

	--sb-ic-width: 25px;
	--sb-ic-height: 25px;

	--priority-button1: #bf616a;
	--priority-button2: #ebcb8b;
	--priority-button3: #a3be8c;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

/* Montserrat */
@font-face {
	font-family: "Montserrat-Bold";
	src: url("./resources/fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat-Reg";
	src: url("./resources/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat-Med";
	src: url("./resources/fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat-Light";
	src: url("./resources/fonts/Montserrat-ExtraLight.woff2") format("woff2");
}

/* Montserrat Alternative */

@font-face {
	font-family: "Montserrat-alt-Reg";
	src: url("./resources/fonts/MontserratAlternates-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat-alt-Bold";
	src: url("./resources/fonts/MontserratAlternates-Bold.woff2") format("woff2");
}

@font-face {
	font-family: "Montserrat-alt-Med";
	src: url("./resources/fonts/MontserratAlternates-Medium.woff2") format("woff2");
}


header {
	z-index: 999;
	position: sticky;
	top: 0px;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 3em;
}

ul.right-nav {
	display: flex;
	gap: 2em;
}


#user-profile,
#settings,
#hamburger-menu {
	width: var(--icon-width);
	height: var(--icon-height);
}

#option-0,
#option-1,
#user-profile,
#settings,
#hamburger-menu,#edit-button,#remove-button {
	/* white color for icons */
	filter: invert(93%) sepia(11%) saturate(221%) hue-rotate(185deg) brightness(94%) contrast(93%);
}

#hamburger-menu,
.sidebar>li {
	transition: all 150ms ease;
	padding: .1em .3em;
}

#hamburger-menu:hover {
	border-radius: 2px;
	background-color: var(--text2);
	padding: .1em .3em;
	filter: none;
}


header {
	background-color: var(--dark);
}

#logo {
	font-weight: 400;
	font-size: 1.5rem;
	font-family: 'Montserrat-Bold';
}

a {
	text-decoration: none;
	color: var(--text);
}

#sb-main-container {
	display: flex;
	background-color: var(--dark2);
	min-height: 100vh;
	/* width: 100%; */
}

#sidebar-container {
	box-shadow: 2px 3px 5px rgb(0, 0, 0, .3);
}

/* contents aligned with burger menu */
/* fade text */
.sidebar-active {
	padding: 5em .5em 0em 0em;
	text-align: start;
	width: 25%;
	background-color: var(--darkMain-Sb);
	transition: width 200ms ease;
}

.sidebar-inactive {

	transition: 200ms ease;
	width: 0%;
}

@keyframes fade-sidebar-content {

	0% {
		opacity: 0;
		transform: translateX(-80%);
	}

	50% {
		opacity: 0.6;
		transform: translateX(0%);
	}

	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.sidebar {
	animation: 2s fade-sidebar-content ease;
	animation-duration: 200ms;
	display: flex;
	gap: 15px;
	justify-content: center;
	flex-direction: column;
	font-family: "Montserrat-Med";
	padding-left: 3em;
	padding-right: .3em;
	position: sticky;
	top: 8.5em;
}

:root {
	/* convinience purposes */
	--sidebar-list-padding: .5em;
}

/* sb-list styles */

.sidebar>li {
	padding: var(--sidebar-list-padding);
	display: flex;
	align-items: center;
	gap: 1em;
	font-size: 1.1rem;
	color: var(--text3);
	white-space: nowrap;
}

.sidebar>li:hover {
	box-sizing: border-box;
	background-color: var(--dar2Main-Sb);
	border-radius: 4px;
	padding: var(--sidebar-list-padding);
}

.sidebar>li,
#hamburger-menu,
#settings,
#user-profile,
#logo {
	cursor: pointer;
}


li>.tab-icon {
	width: var(--sb-ic-width);
	height: var(--sb-ic-heighth);
	image-rendering: auto;
}


.td-task-icon {
	filter: invert(63%) sepia(18%) saturate(946%) hue-rotate(328deg) brightness(92%) contrast(89%);
}

.up-task-icon {
	filter: invert(50%) sepia(34%) saturate(724%) hue-rotate(305deg) brightness(84%) contrast(90%);
}

.projects-icon {
	filter: invert(77%) sepia(25%) saturate(362%) hue-rotate(49deg) brightness(90%) contrast(90%);
}


#main-content-container {
	opacity: .9;
	width: max(100%, 300px);
	margin: 2em 6em 2em 6em;
	flex-direction: column;
	padding: 2em 3em;
	border-radius: 4px;
	/* box-shadow: 5px 5px 12px rgb(0, 0,0,.3); */

}

#header-option-container,
#header-container,
#main-content-container {
	display: flex;
}

#header-container {
	justify-content: space-between;
	align-items: center;
}

#header-container {
	width: 100%;
	/* padding: 0em 10em 0em 10em; */
  margin-bottom:2em;
	/* box-sizing: border-box; */
}

#header-option-container {
	gap: 2em;
}

.option-icons {
	cursor: pointer;
	background-size: 1em 1em;
	height: 2em;
	width: 2em;
	background-position: center;
	background-repeat: no-repeat;
	/* padding: 2px; */
	background-color: var(--frost-3);
	border-radius: 15px;
	transition: all 100ms ease;
}

#option-1:hover,
#option-0:hover {
	filter: none;
}

#option-0:hover {
	background-color: var(--highlight-orange);
}

#option-1:hover {
	background-color: var(--highlight-orange);
}


#option-0 {
	background-image: url("./resources/sort.png");
}

#option-1 {

	background-image: url("./resources/ellipsis.png");
}



#header-text {
	font-size: 2rem;
	color: var(--text);
	font-family: 'Montserrat-Med';
  text-align: end;
}




/* change main task container to this one on PROJECTS tab */
/* different layout only on PROJECT */
/* 
#projects-main-task-container {
	height: 80%;
	margin: 3em 4em 2em 4em;
	outline: white solid 1px;
	display: flex;
	justify-content: center;
	align-items: center;
} */

/* TODAY and UPCOMING TASK have the same layout except for */
/* PROJECTS tab */
#td-up-main-task-container {
	height: 100%;
	margin: 0em 10em 2em 10em;
	display: flex;
	flex-direction: column;
	gap: 1.2em;
}

#add-task-container{
  display:flex;
  justify-content: center;
}
#add-task-button {
	background-color: var(--frost-3);
	border: none;
	border-radius: 15px;
	color: var(--text);
	font-family: 'Montserrat-Med';
	text-transform: uppercase;
	padding: .5em 1.2em;
  width: 10em;
	transition: all 270ms ease-in;
}

#add-task-button:hover {
  width:20%;
  font-weight:bold;
	background-color: var(--highlight-yellow);
	box-shadow: 3px 3px 10px rgb(0, 0, 0, .3);
	color: var(--darkMain-Sb);
}

.task,
#edit-task-container {
	display: flex;

}

.task {
	/* dar2Main-Sb */
	background-color: var(--dark);
	justify-content: space-between;
	padding: .7em 2em;
	border-radius: 10px;
	box-shadow: 6px 5px 10px rgb(0, 0, 0, .2);
	height: 3em;
	/* border-left: #5e81ac solid 10px; */
}

.title-desc-container {
	color: var(--text);
	line-height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#task-title {
	font-weight: bold;
	font-size: 1.2rem;
	font-family: 'Montserrat-Bold';
}

#task-desc {
	font-size: .8rem;
	font-family: 'Montserrat-Reg';
}

#edit-task-container {
	justify-content: center;
	align-items: center;
	gap: 1.5em;

}


:root{
	--etask-btn-padding:.3em;
	--etask-btn-bg-size:25px;
	--etask-btn-HW:25px;
}
.edit-task-buttons{
	opacity: .8;
	/* border-radius: 30px;s */
	/* padding: 1.5em 1.5em; */
	height: var(--etask-btn-HW);
	width: var(--etask-btn-HW);
	padding: var(--etask-btn-padding);
	transition: all 150ms ease;
}

#edit-button{
	background-image: url('./resources/write.png');
	background-size: var(--etask-btn-bg-size);
	background-position: center;
	background-repeat: no-repeat;

}

#remove-button{
	background-image: url('./resources/trash.png');
	background-size: var(--etask-btn-bg-size);
	background-position: center;
	background-repeat: no-repeat;
}

#remove-button:hover{
	border-radius: 50%;
	padding: var(--etask-btn-padding);
	background-color: var(--highlight-red);
}


#edit-button:hover{
	border-radius: 50%;
	padding: var(--etask-btn-padding);
	background-color: var(--highlight-orange);
}

#remove-button:hover,#edit-button:hover{
	filter: invert(0);
}


.edit-task-buttons,
#task-desc,
#task-title {
	cursor: pointer;

}

/* disable border on focus for buttons */
/* button:focus{
	appearance: none;
	border: none;
} */

::-webkit-scrollbar {
	width: 5px;
	background-color: var(--darkMain-Sb);
}

::-webkit-scrollbar-button {
	background: var(--frost);
}

::-webkit-scrollbar-thumb {
	background: var(--frost-2);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--frost-3);
}

.form-active {
	z-index: 999;
	background-color: var(--dark);
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1.2em 2em;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	transition: all 300ms ease;
	width: 40%;
}


#pp-input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--text);
	margin-bottom: .8em;
}

li>textarea,
[type='text'] {
	border: none;
	background-color: var(--darkMain-Sb);
}


#button-form-container {
	display: flex;
}

#form-add-cancel-buttons {
	margin-left: auto;
}

.form-inactive {
	display: none;
}

.input-container {
	box-sizing: border-box;
	display: inline-block;
}

.input-container>#desc {
	width: 100%;
}


.input-container>#title {
	width: 50%;
}

.input-container>#desc,
#title {
	padding: .5em .9em;

}


input[type='text'],
textarea {
	font-family: 'Montserrat-Med';
	color: var(--text);
	line-height: 10px;
}

input[type='text']:focus,
textarea:focus,
input[type='text'],
textarea {
	outline: none;
	resize: none;
}

#form-add-cancel-buttons {
	display: flex;
	gap: 1.2em;
}

#form-add-cancel-buttons>.form-buttons {
	border: none;
	color: var(--text);
	background-color: var(--frost-3);
	font-family: "Montserrat-Med";
	padding: .4em .8em;
	border-radius: 5px;
	transition: all 150ms ease;
}

#form-add-cancel-buttons>.form-buttons:hover {
	background-color: var(--highlight-yellow);
	box-shadow: 3px 2px 6px rgb(0, 0, 0, .3);
	color: var(--darkMain-Sb);
}


#form-priority-buttons>input[type='radio'] {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background-color: var(--darkMain-Sb);
	transition: all 150ms ease-in-out;
}

input[type='radio']#very-important {
	border: 2px solid var(--priority-button1);

}
input[type='radio']#important {
	border: 2px solid var(--priority-button2);
}

input[type='radio']#less-important {
	border: 2px solid var(--priority-button3);
}

input[type='radio']#very-important:checked {
	background-color: var(--priority-button1);
}                                                               
input[type='radio']#important:checked {
	background-color: var(--priority-button2);
}
input[type='radio']#less-important:checked {
	background-color: var(--priority-button3);
}
#edit-desc-input {
	background-color: var(--darkMain-Sb);
	outline: none;
  border:none;
	resize: none;
}
.title-desc-container{
  display:flex;
  flex-direction: column;
  gap:5px;
}
