/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






:root{
	/* colors */
	/* background-or-something */
	--dark : #2e3440;
	--darkMain-Sb: #3b4252;
	--dark2 : #434c5e;
	--dar2Main-Sb: #4c566a;

	/* text */
	--text :#d8dee9;
	--text2 :#e5e9f0;
	--text3: #eceff4;

	/* frost */
	--frost: #8fbcbb;
	--frost-2:#88c0d0;
	--frost-3:#5e81ac;
	--frost-4:#81a1c1;

	/* highlights */
	--highlight-red: #bf616a;
	--highlight-orange: #d08770;
	--highlight-yellow: #ebcb8b;
	--highlight-green: #a3be8c;
	--highlight-red: #b48ead;

	/* icons */
	--icon-width:20px;
	--icon-heigth:20px;
}	

.nav-container{
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding: .5em 3em;
}
ul.right-nav{
    display: flex;
	gap: 10px;
}

#user-profile,#hamburger-menu,#settings{
	width: var(--icon-width);
	height: var(--icon-height);
}

#settings{
	border: var(--highlight-green) 2px solid;
	border-radius: 12px;

}
#user-profile{
	border: var(--highlight-red) 2px solid;
	border-radius: 12px;
}

header{
	background-color: var(--dark); 
}

#logo{
	font-weight: bold;
	font-size: 1.5rem;
}

a{
	text-decoration: none;
	color:var(--text);
}








